<div class="container col-lg-6" style="padding-top: 100px; padding-bottom: 300px;">

    <h1 class="text-center">Login</h1>
    <div class="card">
        <div class="card-body">
            <form class="form-group">
                <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
                <div class="alert alert-success" *ngIf='loginSuccess'>{{successMessage}}</div>
                <div class="form-group">
                    <label for="email">User Name :</label>
                    <input type="text" class="form-control" id="username" [(ngModel)]="username" placeholder="Enter User Name" name="username">
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" id="password" [(ngModel)]="password" placeholder="Enter password" name="password">
                </div>
                <button type="button" (click)=handleLogin() class="btn btn-success">Login</button>
            </form>
        </div>
    </div>

</div>