<div class="main-content page-m">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
                <!--customer form group-->
                <div formGroupName="customer" class="form-area">
                    <h3>Customer</h3>
                    <div class="row">
                        <div class="col-md-2"><label>First name</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="firstName" type="text">
                                <!-- validation 
                                dirty:這邊的值是否有改變
                                touched:這邊是否失焦
                                invalid:驗證是否失敗-->
                                <!--下面這行*ngIf有錯 但不知道錯在哪裡 拿掉就全部正常了-->
                                <div style="display: inline-block;"
                                    *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
                                    class="alert alert-danger mt-1">
                                    <!-- 錯誤訊息顯示 -->
                                    <div *ngIf="firstName.errors.required || firstName.errors.notOnlyWhitespace">
                                        First Name is required
                                    </div>
                                    <div *ngIf="firstName.errors.minlength">
                                        First Name nust be at least 2 characters long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Last Name</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="lastName" type="text">
                                <div style="display: inline-block;"
                                    *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
                                    class="alert alert-danger mt-1">
                                    <!-- 錯誤訊息顯示 -->
                                    <div *ngIf="lastName.errors.required || lastName.errors.notOnlyWhitespace">
                                        last Name is required
                                    </div>
                                    <div *ngIf="lastName.errors.minlength">
                                        last Name nust be at least 2 characters long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Email</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="email" type="text">
                                <div style="display: inline-block;"
                                    *ngIf="email.invalid && (email.dirty || email.touched)"
                                    class="alert alert-danger mt-1">
                                    <!-- 錯誤訊息顯示 -->
                                    <div *ngIf="email.errors.required">
                                        Email is required
                                    </div>
                                    <div *ngIf="email.errors.pattern">
                                        Email nust be a valid email address format
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--shipping address-->
                <div formGroupName="shippingAddress" class="form-area">
                    <h3>Shipping Address</h3>
                    <div class="row">
                        <div class="col-md-2"><label>Conutry</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country" (change)="getStates('shippingAddress')">
                                    <option *ngFor="let country of countries" [ngValue]="country">
                                        {{country.name}}
                                    </option>
                                </select>
                                <div style="display: inline-block;"
                                    *ngIf="shippingAddressCountry.invalid && (shippingAddressCountry.dirty || shippingAddressCountry.touched)"
                                    class="alert alert-danger mt-1">
                                    <!-- 錯誤訊息顯示 -->
                                    <div *ngIf="shippingAddressCountry.errors.required">
                                        Country is required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Street</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text">
                                <div style="display: inline-block;"
                                    *ngIf="shippingAddressStreet.invalid && (shippingAddressStreet.dirty || shippingAddressStreet.touched)"
                                    class="alert alert-danger mt-1">
                                    <!-- 錯誤訊息顯示 -->
                                    <div
                                        *ngIf="shippingAddressStreet.errors.required || shippingAddressStreet.errors.notOnlyWhitespace">
                                        Street is required
                                    </div>
                                    <div *ngIf="shippingAddressStreet.errors.minlength">
                                        Street nust be at least 2 characters long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>City</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text">
                                <div style="display: inline-block;"
                                    *ngIf="shippingAddressCity.invalid && (shippingAddressCity.dirty || shippingAddressCity.touched)"
                                    class="alert alert-danger mt-1">
                                    <!-- 錯誤訊息顯示 -->
                                    <div
                                        *ngIf="shippingAddressCity.errors.required || shippingAddressCity.errors.notOnlyWhitespace">
                                        City is required
                                    </div>
                                    <div *ngIf="shippingAddressCity.errors.minlength">
                                        City nust be at least 2 characters long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>State</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="state">
                                    <option *ngFor="let state of shippingAddressStates" [ngValue]="state">
                                        {{state.name}}
                                    </option>
                                </select>
                                <div style="display: inline-block;"
                                    *ngIf="shippingAddressState.invalid && (shippingAddressState.dirty || shippingAddressState.touched)"
                                    class="alert alert-danger mt-1">
                                    <!-- 錯誤訊息顯示 -->
                                    <div *ngIf="shippingAddressState.errors.required">
                                        State is required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Zip code</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text">
                                <div style="display: inline-block;"
                                    *ngIf="shippingAddressZipCode.invalid && (shippingAddressZipCode.dirty || shippingAddressZipCode.touched)"
                                    class="alert alert-danger mt-1">
                                    <!-- 錯誤訊息顯示 -->
                                    <div
                                        *ngIf="shippingAddressZipCode.errors.required || shippingAddressZipCode.errors.notOnlyWhitespace">
                                        zipCode is required
                                    </div>
                                    <div *ngIf="shippingAddressZipCode.errors.minlength">
                                        zipCode nust be at least 2 characters long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--add check box to copy shipping to billing-->
                <div class="input-space">
                    <label class="au-checkbox">
                        <input type="checkbox" (change)="copyShippingAddressToBillingAddress($event)">
                        <span class="au-checkmark"></span>Billing Address same as shipping Address
                    </label>
                </div>
                <!--billing address-->
                <div formGroupName="billingAddress" class="form-area">
                    <h3>Shipping Address</h3>
                    <div class="row">
                        <div class="col-md-2"><label>Conutry</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country" (change)="getStates('billingAddress')">
                                    <option *ngFor="let country of countries" [ngValue]="country">
                                        {{country.name}}
                                    </option>
                                </select>
                                <div *ngIf="billingAddressCountry.invalid && (billingAddressCountry.dirty || billingAddressCountry.touched)"
                                    class="alert alert-danger mt-1">
                                    <!-- 錯誤訊息顯示 -->
                                    <div *ngIf="billingAddressCountry.errors.required">
                                        Country is required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Street</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text">
                                <div *ngIf="billingAddressStreet.invalid && (billingAddressStreet.dirty || billingAddressStreet.touched)"
                                    class="alert alert-danger mt-1">
                                    <!-- 錯誤訊息顯示 -->
                                    <div
                                        *ngIf="billingAddressStreet.errors.required || billingAddressStreet.errors.notOnlyWhitespace">
                                        Street is required
                                    </div>
                                    <div *ngIf="billingAddressStreet.errors.minlength">
                                        Street nust be at least 2 characters long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>City</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text">
                                <div *ngIf="billingAddressCity.invalid && (billingAddressCity.dirty || billingAddressCity.touched)"
                                    class="alert alert-danger mt-1">
                                    <!-- 錯誤訊息顯示 -->
                                    <div
                                        *ngIf="billingAddressCity.errors.required || billingAddressCity.errors.notOnlyWhitespace">
                                        City is required
                                    </div>
                                    <div *ngIf="billingAddressCity.errors.minlength">
                                        City nust be at least 2 characters long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>State</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="state">
                                    <option *ngFor="let state of billingAddressStates" [ngValue]="state">
                                        {{state.name}}
                                    </option>
                                </select>
                                <div *ngIf="billingAddressState.invalid && (billingAddressState.dirty || billingAddressState.touched)"
                                    class="alert alert-danger mt-1">
                                    <!-- 錯誤訊息顯示 -->
                                    <div *ngIf="billingAddressState.errors.required">
                                        State is required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Zip code</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text">
                                <div *ngIf="billingAddressZipCode.invalid && (billingAddressZipCode.dirty || billingAddressZipCode.touched)"
                                    class="alert alert-danger mt-1">
                                    <!-- 錯誤訊息顯示 -->
                                    <div
                                        *ngIf="billingAddressZipCode.errors.required || billingAddressZipCode.errors.notOnlyWhitespace">
                                        zipCode is required
                                    </div>
                                    <div *ngIf="billingAddressZipCode.errors.minlength">
                                        zipCode nust be at least 2 characters long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--信用卡資訊-->
                <div formGroupName="creditCard" class="form-area">
                    <h3>Creditcard</h3>
                    <div class="row">
                        <div class="col-md-2"><label>Card Type</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="cardType">
                                    <option>Visa</option>
                                    <option>MasterCard</option>
                                </select>
                                <div *ngIf="creditCardType.invalid && (creditCardType.dirty || creditCardType.touched)"
                                    class="alert alert-danger mt-1">
                                    <!-- 錯誤訊息顯示 -->
                                    <div *ngIf="creditCardType.errors.required">
                                        State is required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Name On Card</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="nameOnCard" type="text">
                                <div *ngIf="creditCardNameOnCard.invalid && (creditCardNameOnCard.dirty || creditCardNameOnCard.touched)"
                                    class="alert alert-danger mt-1">
                                    <!-- 錯誤訊息顯示 -->
                                    <div *ngIf="creditCardNameOnCard.errors.required">
                                        State is required
                                    </div>
                                    <div *ngIf="creditCardNameOnCard.errors.minlength">
                                        Name  must be at least 2 characters long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Card Number</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="CardNumber" type="text">
                                <div *ngIf="creditCardNumber.invalid && (creditCardNumber.dirty || creditCardNumber.touched)"
                                    class="alert alert-danger mt-1">
                                    <!-- 錯誤訊息顯示 -->
                                    <div *ngIf="creditCardNumber.errors.required">
                                        creditCardNumber is required
                                    </div>
                                    <div *ngIf="creditCardNumber.errors.pattern">
                                        Card number must be 16 digits long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Security Code</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="securityCode" type="text">
                                <div *ngIf="creditCardSecurityCode.invalid && (creditCardSecurityCode.dirty || creditCardSecurityCode.touched)"
                                class="alert alert-danger mt-1">
                                <!-- 錯誤訊息顯示 -->
                                <div *ngIf="creditCardSecurityCode.errors.required">
                                    securityCode is required
                                </div>
                                <div *ngIf="creditCardSecurityCode.errors.pattern">
                                    securityCode must be 16 digits long
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Expiration Month</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="expirationMonth">
                                    <option *ngFor="let month of creditCardMonths">
                                        {{month}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Expiration Year</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="expirationYear" (change)="handleMonthsAndYears()">
                                    <option *ngFor="let year of creditCardYears">
                                        {{year}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <!--order detail-->
                <div class="form-area">
                    <h3>Review Your Order</h3>
                    <p>total Quantity : {{totalQuantity}}</p>
                    <p>Shipping: FREE</p>
                    <p>Total Price : {{totalPrice | currency: 'USD'}}</p>
                </div>

                <!--submit button-->
                <div class="text-center">
                    <button type="submit" class="btn btn-info">Purchase</button>
                </div>
            </form>
        </div>
    </div>
</div>