<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="contain-fluid">
            <div class="row">
                <!--loop over the collection of products-->
                <div *ngFor="let tempProduct of products" class="col-md-3">
                    <div class="product-box">

                        <a routerLink="/products/{{tempProduct.id}}">
                        <img src="{{tempProduct.imageUrl}}" class="img-responsive">
                        </a>

                        <a routerLink="/products/{{tempProduct.id}}">
                        <h1>{{tempProduct.name}}</h1>
                        </a>
                        
                        <div class="price">{{tempProduct.unitPrice | currency:'USD'}}</div>
                        <a href="#" class="primary-btn">Add to cart</a>
                    </div>
                </div>
                <!--if products empty then display message-->
                <div *ngIf="products?.length == 0" classes="alert alert-warning col-md-12" role="alert">
                No products found.
                </div>
            </div>

            <!--begin footer-->
            <div class="fotter-pagiantion">
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-9" style="padding-left: 30%">
                                <!--哪來的ngb-pagination 這裡都看不懂-->
                                <!--boundaryLinks快速跳轉第一頁和最後一頁 maxSize最大顯示頁數-->
                                <ngb-pagination [(page)]="thePageNumber"
                                                [pageSize]="thePageSize"
                                                [collectionSize]="theTotalElements"
                                                [maxSize]="5"
                                                [boundaryLinks]="true" 
                                                (pageChange)="listProducts()">

                                </ngb-pagination>
                            </div>

                            <div class="col-md-3 mt-2" style="text-align:right;">
                                <span class="mr-2">Page size</span>
                                <!--原本是這樣  錯誤 updatePageSize($event.target.value) 改成如下 why?-->
                                <select (change)="updatePageSize($any($event.target).value)">
                                    <option >2</option>
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option selected="ture">20</option>
                                    <option value="50">50</option>
                                </select>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!--end footer-->

        </div>
    </div>
</div>